.about-me-container {
  padding: 8vw;
  display: flex;
  flex-wrap: wrap;
}

.about-me-container > * {
  flex: 1 1 50%;
}

.info-list-container {
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: 25px;
  }

  .mat-list-base .mat-subheader {
    height: 40px;
  }
}

.photo-container {
  min-height: 100px;
  max-height: 265px;
  display: flex;
}

.photo-round {
  margin: auto;
  height: 25vw;
  width: 25vw;
  max-width: 260px;
  max-height: 260px;
  border-radius: 50%;
  overflow: hidden;
  img {
    height: 100%;
    transform: translateX(-15%);
  }
}

.profile-description {
  padding: 5vw 0;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .about-me-container {
    padding: 2vw;
    flex-direction: column;
    overflow-y: auto;
  }

  .photo-container {
    order: -1;
  }

  .photo-round {
    margin: auto;
    height: 40vw;
    width: 40vw;
  }
}

@media screen and (max-width: 400px) {
  .about-me-container {
    padding: 1vw
  }

  .info-list-container {
    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
      height: 4vw;
      font-size: 3vw;
    }

    .mat-list-base .mat-subheader {
      height: 30px;
      font-size: 3vw;
      padding: 0 2vw;
    }
  }

  .profile-description {
    padding: 5vw 2vw;
    text-align: justify;
    font-size: 3vw;
  }
}

@media screen and (min-width: 600px) and (max-height: 400px)   {
  .about-me-container {
    padding: 2vw;
    flex-direction: row;
  }
}
