<div class="about-me-container">
  <div class="info-list-container" @fadeOnRender *ngIf="enter">
    <mat-list class="info-list">
      <div mat-subheader>Profession</div>
      <mat-list-item>Industrial Engineer</mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Location</div>
      <mat-list-item>Hamburg, Germany</mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Core</div>
      <mat-list-item>Web Development Frontend</mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Age</div>
      <mat-list-item>Make a guess</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <div class="photo-container" @fadeOnRender *ngIf="enter">
    <div class="photo-round">
      <img src="../../../../../assets/fotos/curriculum-main-photo.jpg" alt="" />
    </div>
  </div>
  <div class="profile-description" @fadeOnRender *ngIf="enter">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nemo soluta
    provident repudiandae at doloribus asperiores quisquam suscipit possimus non
    reiciendis molestias ullam accusamus in eum unde debitis deleniti
    necessitatibus, cupiditate quia aliquid. Et itaque eveniet, ut harum
    reprehenderit ex eius tempora officia iste aliquam nemo consequatur impedit
    perferendis voluptas.
  </div>
</div>
