.home-container {
  width: 100vw;
  height: calc(100vh - 48px);;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 48px;
}

.home-content {
  height: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-description {
  max-width: 600px;
}

.photo-box {
  height: 70vh;
  width: 300px;
  overflow: hidden;
  border-radius: 150px;
  margin-left: 5vw;
  img {
    height: 100%;
    transform: translateX(-30%);
    mix-blend-mode: multiply;
  }
}
