.message-display-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

.external-links-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
}

.link-icon:hover {
  background-color: blueviolet;
}
