<div class="main-vertical-accordion-container" [@sectionsAnimation]="3" (@sectionsAnimation.done)="onSectionSelected('personal-info')">
  <div class="accordion-section curriculum-personal-info content-section"
    [ngClass]="screenWidth <= 810 ? 'vertical':'horizontal'"
    [@openClose]="selectedSection === 'personal-info' ? 'open':'close'"
  >
    <div class="section-title" (click)="onSectionSelected('personal-info')">
      <div class="mat-display-4 title-label">About Me</div>
    </div>
    <div class="section-content" *ngIf="selectedSection === 'personal-info'">
      <app-about-me [show]="selectedSection === 'personal-info'"></app-about-me>
    </div>
  </div>
  <div class="accordion-section curriculum-skillset content-section"
    [ngClass]="screenWidth <= 810 ? 'vertical':'horizontal'"
    [@openClose]="selectedSection === 'skillset' ? 'open':'close'"
  >
    <div class="section-title" (click)="onSectionSelected('skillset')">
      <div class="mat-display-4 title-label">My Skills</div>
    </div>
    <div class="section-content" *ngIf="selectedSection === 'skillset'">
      A lovely and cool description 2
    </div>
  </div>
  <div class="accordion-section curriculum-experience content-section"
    [ngClass]="screenWidth <= 810 ? 'vertical':'horizontal'"
    [@openClose]="selectedSection === 'experience' ? 'open':'close'"
  >
    <div class="section-title" (click)="onSectionSelected('experience')">
      <div class="mat-display-4 title-label">My Experience</div>
    </div>
    <div class="section-content" *ngIf="selectedSection === 'experience'">
      A lovely and cool description 3
    </div>
  </div>
  <div class="accordion-section curriculum-intro"
    [ngClass]="selectedSection === 'intro' ? 'selected-section':''"
  >
    <div class="section-content" *ngIf="selectedSection === 'intro'">
      <div class="curriculum-intro-message mat-display-2 typewriting-animation">Take a look around :)</div>
    </div>
  </div>
</div>
