.main-vertical-accordion-container {
  width: 100vw;
  height: calc(100% - 48px);
  position: fixed;
  display: flex;
  top: 0;
  padding-top: 48px;
}

.accordion-section {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
}

.selected-section {
  width: 100%;
}

.section-title {
  width: 7vw;
  align-items: flex-end;
  display: flex;
}

.title-label {
  writing-mode: vertical-rl;
  font-size: 4.5vw;
  padding: 1vw;
}

.section-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.curriculum-personal-info {
  background-color: #c7d5bc;
  color: #4d6152;
}
.curriculum-skillset {
  background-color: #4d6152;
  color: #c7d5bc;
}
.curriculum-experience {
  background-color: #3b322d;
  color: #faf3df;
}
.curriculum-intro {
  align-items: center;
}
.curriculum-intro-message {
  margin-left: 5vw;
  border-right: 2px solid #3b322d;
  width: 35vw;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.typewriting-animation {
  animation: typewriter 1.5s steps(40) 0.5s normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 45vw;
    padding-right: 1vw;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #3b322d;
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .main-vertical-accordion-container {
    flex-direction: column;
  }

  .title-label {
    writing-mode: horizontal-tb;
  }

  .section-title {
    width: 100%;

    .mat-display-4 {
      margin: 5px 10px;
    }
  }
  .selected-section {
    height: 100%;
  }

  .accordion-section {
    flex-direction: column;
    overflow-y: auto;
  }
}
