@use '@angular/material' as mat;

$mb-feldgrau-palette:(
  50 : #eaecea,
  100 : #cad0cb,
  200 : #a6b0a9,
  300 : #829086,
  400 : #68796c,
  500 : #4d6152,
  600 : #46594b,
  700 : #3d4f41,
  800 : #344538,
  900 : #253328,
  A100 : #7fff9c,
  A200 : #4cff75,
  A400 : #19ff4e,
  A700 : #00fe3b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mb-laurel-green-palette: (
  50 : #f8faf7,
  100 : #eef2eb,
  200 : #e3eade,
  300 : #d8e2d0,
  400 : #cfdbc6,
  500 : #c7d5bc,
  600 : #c1d0b6,
  700 : #bacaad,
  800 : #b3c4a5,
  900 : #a6ba97,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f8fff2,
  A700 : #e9ffd9,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mb-tart-orange-palette: (
  50 : #ffe8e7,
  100 : #ffc5c3,
  200 : #ff9e9c,
  300 : #ff7774,
  400 : #ff5956,
  500 : #ff3c38,
  600 : #ff3632,
  700 : #ff2e2b,
  800 : #ff2724,
  900 : #ff1a17,
  A100 : #ffffff,
  A200 : #fffcfc,
  A400 : #ffcac9,
  A700 : #ffb1b0,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// Foreground an background palette for light themes. -> nut being used currently
$cream-foreground-palette: (
  base:              #3B322D,
  divider:           rgba(#3B322D, 0.12),
  dividers:          rgba(#3B322D, 0.12),
  disabled:          rgba(#3B322D, 0.38),
  disabled-button:   rgba(#3B322D, 0.26),
  disabled-text:     rgba(#3B322D, 0.38),
  elevation:         #3B322D,
  hint-text:         rgba(#3B322D, 0.38),
  secondary-text:    rgba(#3B322D, 0.54),
  icon:              rgba(#3B322D, 0.54),
  icons:             rgba(#3B322D, 0.54),
  text:              rgba(#3B322D, 0.87),
  slider-min:        rgba(#3B322D, 0.87),
  slider-off:        rgba(#3B322D, 0.26),
  slider-off-active: rgba(#3B322D, 0.38),
);

$cream-background-palette: (
  status-bar: (mat.$grey-palette, 300),
  app-bar:    (mat.$grey-palette, 100),
  background: (mat.$grey-palette, 50),
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: rgba(#3B322D, 0.38),
  selected-button: (mat.$grey-palette, 300),
  selected-disabled-button: (mat.$grey-palette, 400),
  disabled-button-toggle: (mat.$grey-palette, 200),
  unselected-chip: (mat.$grey-palette, 300),
  disabled-list-option: (mat.$grey-palette, 200),
  tooltip: (mat.$grey-palette, 700),
);
