@use '@angular/material' as mat;
@import "./mb_palettes.scss";
@import "./mb_typography.scss";


$mb-olive-green-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette($mb-feldgrau-palette),
    accent: mat.define-palette($mb-laurel-green-palette),
    warn: mat.define-palette($mb-tart-orange-palette),
  ),
));

$mb-test-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$orange-palette),
    warn: mat.define-palette(mat.$red-palette)
  ),

));
